body { 
    background-color: #F2AA98;
 } 

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size:50px;
    font-weight:bold;
}

h3 {
    font-size:25px;
    font-weight:bold;
}

/**/

nav {
    margin-left:10%;
    margin-right:10%; 
}

.navbar {
    background-color: #FCF1EF !important;
}

.btn {
    background-color: #EDC7B7;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #F2AA98;
    color: white;
}

/**/

.intro {
    margin-left:10%;
    margin-right:10%;
    padding-top:50px;
    padding-bottom:50px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDC7B7
}

/**/

.obsah {
    text-align: justify;
}

.obsah {
    margin-left:10%;
    margin-right:10%;
}

.obsah {
    display: flex;
    flex-direction: row;
    background-color: #FCF1EF;
}

/**/

#left-box {
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
}

#right-box {
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
}

#left-box {
    float: left;
    width: 65%;
    height: 100%;
}

/**/

a:hover, a:active {
    color: #F2AA98;
}

/**/

table {
    border-collapse: collapse; 
    border:1px solid black !important;
}

th {
    background-color: #F2AA98 !important;
    color: white;
  }

/**/

form {
    box-sizing: border-box;
  }
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #EDC7B7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}